{% extends "base.html" %}{% block content %} {% if messages %}
<div class="border bg-red-200 shadow-md p-4 mb-4 text-center">
  {% for message in messages %} {{ message }}
</div>
{% endfor%} {% endif %}
<div x-data="{ url:'{{ url }}' }">
  <form method="POST" action="{% url 'urlshort:information' %}">
    {% csrf_token %}
    <input type="hidden" x-model="url" name="url" value="{{ url }}" />
    <button
      type="submit"
      class="btn btn-ghost border text-xs relative left-1/4 mt-32"
    >
      取得網頁資訊
    </button>
  </form>
  <section class="flex items-center justify-center">
    <form
      method="POST"
      action="{% url 'urlshort:index' %}"
      class="grid grid-cols-2 gap-2 w-3/4"
    >
      {% csrf_token %}
      <label class="join w-full">
        <span
          class="input input-bordered flex items-center gap-2 opacity-70 join-item text-nowrap"
          >原網址</span
        >
        {{ form.url }}
      </label>
      <label class="join">
        <span
          class="input input-bordered flex items-center gap-2 opacity-70 join-item text-nowrap"
          >短網址</span
        >
        {{ form.short_url }}
      </label>
      <label class="col-span-2 join">
        <textarea
          class="textarea textarea-bordered w-full opacity-70"
          placeholder="備註"
        >
{{ web_content }}</textarea
        >
      </label>
      <div class="flex justify-start">
        <label class="label cursor-pointer">
          <input type="checkbox" class="checkbox" name="is_enable" />
          <span class="label-text px-2">是否啟用短網址</span>
        </label>
      </div>
      <div class="flex justify-end">
        <button
          type="submit"
          class="btn btn-square bg-red-300 hover:bg-red-400 w-2/3"
        >
          確認送出
        </button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
